<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onetime.platform">

    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name="com.zhzao.menutwodemo.common.App"
        android:allowBackup="true"
        android:icon="@drawable/t"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟分享 -->
        <!-- 替换为在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0b8d82b27b0a3801000665" />
        <!-- 应用的推广渠道名称，Channel ID自定义 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="oneTime" />
        <!-- SMS配置 -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="227b3bcfffb10" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="c3a62c3cb60bb9830733f3fd709ca0e5" />
        //地图定位
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e1be1eaf9fdded6b59d399f997d196ce" />

        <activity
            android:name="com.zhzao.menutwodemo.WelcomeActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //个推
        <service
            android:name="com.zhzao.menutwodemo.service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name="com.zhzao.menutwodemo.service.DemoIntentService" />
        /分享
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.zhzao.menutwodemo.WelcomePhoneActivity" />
        <activity android:name="com.zhzao.menutwodemo.MainActivity" />
        <activity android:name="com.zhzao.menutwodemo.Sliding_menuLeftActivity" />
        <activity android:name="com.zhzao.menutwodemo.Sliding_menuRightActivity" />
        <activity android:name="com.zhzao.menutwodemo.EditTalkActivity" />
        <activity android:name="com.zhzao.menutwodemo.EditOverActivity" />
        <activity android:name="com.zhzao.menutwodemo.Video_EditActivity" />
        <activity android:name="com.zhzao.menutwodemo.Per_Msg_Activity" />
        <activity android:name="com.zhzao.menutwodemo.photoutils.ClipImageActivity" />
        <activity android:name="com.zhzao.menutwodemo.Photo_shopActivity" />
        <activity android:name="com.zhzao.menutwodemo.BottomActivity" />
        <activity android:name="com.zhzao.menutwodemo.Video_Host_DesActivity" />
        <activity android:name="com.zhzao.menutwodemo.Per_homepage_Activity" />
        <activity android:name="com.zhzao.menutwodemo.AttenActivity" />
        <activity android:name="com.zhzao.menutwodemo.Video_PerDescActivity" />
        <activity android:name="com.zhzao.menutwodemo.chat.SingleChatActivity" />
        <activity android:name="com.zhzao.menutwodemo.chat.LoginChatActivity"></activity>
    </application>

</manifest>